<div class="container p-3">
  <!--<h3>{{title}}</h3>-->

  <h4 class="mt-2">Поиск по списку</h4>
  <app-filter-person (filterPerson)="onFilterPerson($event)"></app-filter-person>
  <app-person-view *ngFor="let person of (usersArr | filterByName : filterParameter); let p_index = index"
                   [InPerson]="person" [InIndex]="p_index" (deletePerson)="onDelete($event)" (editPerson)="onEdit($event)">
  </app-person-view>

  <br>

  <h4 class="mt-2">Список людей</h4>
  <app-person-view *ngFor="let person of usersArr; let p_index = index"
                   [InPerson]="person" [InIndex]="p_index" (deletePerson)="onDelete($event)" (editPerson)="onEdit($event)">
  </app-person-view>
</div>
