<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand"></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Список</a>
        <!-- routerLinkActive используется для применения css класса к выбранному пункту меню, в данном случае active - сss класс -->
        <!-- [routerLinkActiveOptions]="{exact: true}" - используется, для того, чтобы указать полное и строгое соответствие адресу в строке и роуту -->
        <a class="nav-item nav-link" [routerLink]="'/add-person'" routerLinkActive="active">Создать</a>
      </div>
    </div>
  </div>
</nav>
