<div class="container bg-light p-3">
  <div class="row d-flex justify-content-center">
    <div class="col-8">
      <input type="text" placeholder="Имя" class="form-control"
             [(ngModel)]="firstName" required>
    </div>

    <div class="col-8 mt-2">
      <input type="text" placeholder="Фамилия" class="form-control"
             [(ngModel)]="lastName" required>
    </div>

    <!--<div class="col-8 d-flex justify-content-center mt-2"-->
         <!--*ngIf="!(firstName === '')&&!(lastName === ''); else elseBlock"-->
    <!--&gt;-->
      <!--<button class="btn btn-primary" (click)="onAddPerson()">Добавить</button>-->
    <!--</div>-->
    <!--<ng-template #elseBlock>-->
    <!--<div class="col-8 d-flex justify-content-center mt-2">-->
      <!--<button class="btn btn-primary" disabled>Добавить</button>-->
    <!--</div>-->
    <!--</ng-template>-->



    <div class="col-8 d-flex justify-content-center mt-2">
    <button class="btn btn-primary" [disabled]="firstName==='' || lastName === ''">Добавить</button>
  </div>


  </div>
</div>

