<div class="container bg-light pl-5 pr-5 pt-3 pb-3">
  <form [formGroup]="personFilter">
    <div class="row mt-2">
      <div class="col-10">
        <input type="text" placeholder="Enter first or second name" class="form-control" formControlName="filterParameter">
      </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="onFilterPerson()" [disabled]="personFilter.invalid"> Поиск </button>
      </div>
    </div>
  </form>
</div>
