<div class="container p-3 mb-2 bg-light" *ngIf="!editor; else elseBlock">
  <div class="row mt-2">
    <div class="col-1 d-flex align-items-center">
      {{InPerson.id}}
    </div>
    <div class="col-3 d-flex align-items-center">
      Фамилия: {{InPerson.lastName}}
    </div>
    <div class="col-3 d-flex align-items-center">
      Имя: {{InPerson.firstName}}
    </div>
    <div class="col-3 d-flex align-items-center">
      Отчество: {{InPerson.middleName}}
    </div>
    <div class="col-2">
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-1 d-flex align-items-center">

    </div>
    <div class="col-3 d-flex align-items-center">
      Почта: {{InPerson.email}}
    </div>
    <div class="col-3 d-flex align-items-center">
      Телефон: +7 <span>{{InPerson.phone | mask:'(000) 000-0000'}}</span>
    </div>
    <div class="col-3 d-flex align-items-center">
      Паспорт Серия: {{InPerson.seriaP}}
    </div>
    <div class="col-2 d-flex align-items-center">
      Номер: {{InPerson.numberP}}
    </div>

  </div>

  <div class="row mt-2">
    <div class="col-9">
    </div>
    <div class="col-1">
      <button class="btn btn-warning" (click)="onDelete(InIndex)">Удалить</button>
    </div>
    <div class="col-2">
      <button class="btn btn-info" (click)="editor = true">Редактировать</button>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <div class="container p-1">
    <form [formGroup]="personEdit">
      <div class="row mt-2">
        <input class="col-1 d-flex align-items-center" placeholder="id"
               formControlName="id">
        <input class="col-3 d-flex align-items-center" placeholder="last name"
               formControlName="lastName">
        <input class="col-3 d-flex align-items-center" placeholder="first name"
               formControlName="firstName">
        <input class="col-3 d-flex align-items-center" placeholder="middle name"
             formControlName="middleName">
        <div class="col-2">
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-1 d-flex align-items-center">

        </div>
        <input class="col-3 d-flex align-items-center" placeholder="email"
               formControlName="email">

        <input class="col-3 d-flex align-items-center" placeholder="phone"
               mask="(000) 000-0000" prefix="+7" [showMaskTyped]="true"
               formControlName="phone">

        <input class="col-3 d-flex align-items-center" placeholder="seriaP"
               formControlName="seriaP">

        <input class="col-2 d-flex align-items-center" placeholder="numberP"
               formControlName="numberP">

      </div>

      <div class="row mt-2">
        <div class="col-9">
        </div>
        <div class="col-1">
          <button class="btn btn-warning" disabled>Удалить</button>
        </div>
        <div class="col-2">
          <button class="btn btn-info" (click)="onEdit(InIndex)" [disabled]="personEdit.invalid">Сохранить</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

