<div class="container p-1" *ngIf="!editor; else elseBlock">
  <div class="row">
    <div class="col-1 d-flex align-items-center">
      {{InPerson.id}}
    </div>
    <div class="col-4 d-flex align-items-center bg-light">
      {{InPerson.firstName}}
    </div>
    <div class="col-4 d-flex align-items-center bg-light">
      {{InPerson.lastName}}
    </div>
    <div class="col-1">
      <button class="btn btn-warning" (click)="onDelete(InIndex)">Удалить</button>
    </div>
    <div class="col-2">
      <button class="btn btn-info" (click)="editor = true">Редактировать</button>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <div class="container p-1">
    <div class="row">
      <input class="col-1" placeholder="person id"
             [(ngModel)]="Pid">

      <input class="col-4" placeholder="person first name"
             [(ngModel)]="PFirstName">

      <input class="col-4" placeholder="person last name"
             [(ngModel)]="PLastName">

      <div class="col-1">
        <button class="btn btn-warning" disabled>Удалить</button>
      </div>
      <div class="col-2">
        <button class="btn btn-info" (click)="onEdit(InIndex, Pid, PFirstName, PLastName)">Сохранить</button>
      </div>
    </div>
  </div>
</ng-template>

