<div class="container p-3">
  <h3>{{title}}</h3>

  <br>

  <h4 class="mt-2">Поиск по списку</h4>
  <app-filter-person (filterPerson)="onFilterPerson($event)"></app-filter-person>
  <app-person-view *ngFor="let person of (persons | filterByName : filterParameter); let p_index = index"
                   [InPerson]="person" [InIndex]="p_index" (deletePerson)="onDelete($event)" (editPerson)="onEdit($event)">
  </app-person-view>

  <h4 class="mt-2">Список людей</h4>
  <app-person-view *ngFor="let person of persons; let p_index = index"
   [InPerson]="person" [InIndex]="p_index" (deletePerson)="onDelete($event)" (editPerson)="onEdit($event)">
  </app-person-view>

  <hr>

  <h4 class="mt-2">Добавить человека в список</h4>
  <app-add-person (addPerson)="onAddPerson($event)"></app-add-person>
</div>
