<div class="container p-3 mb-2 bg-light">
  <a [routerLink]="['/edit', InPerson.id]" >

    <div class="row mt-2">
      <div class="col-1 d-flex align-items-center">
        {{InPerson.id}}
      </div>
      <div class="col-3 d-flex align-items-center">
        Фамилия, имя: {{InPerson.name}}
      </div>
      <div class="col-3 d-flex align-items-center">
        Имя пользователя: {{InPerson.username}}
      </div>
      <div class="col-3 d-flex align-items-center">
        Почта: {{InPerson.email}}
      </div>
      <div class="col-2">
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-1 d-flex align-items-center">
      </div>
      <div class="col-3 d-flex align-items-center">
        Телефон: +7 <span>{{InPerson.phone | mask:'(000) 000-0000'}}</span>
      </div>
      <div class="col-3 d-flex align-items-center">
        Адрес город: {{InPerson.address.city}}
      </div>
      <div class="col-2 d-flex align-items-center">
        улица: {{InPerson.address.street}}
      </div>

    </div>

    <div class="row mt-2">
      <div class="col-10">
      </div>
      <div class="col-2">
        <button class="btn btn-warning" (click)="onDelete(InIndex)">Удалить</button>
      </div>
      <!--<div class="col-2">-->
      <!--<button class="btn btn-info" (click)="editor = true">Редактировать</button>-->
      <!--</div>-->
    </div>
  </a>
</div>
