<div class="container p-3">
  <h3>{{title}}</h3>

  <br>

  <app-person-view *ngFor="let person of persons; let p_index = index"
   [InPerson]="person" [InIndex]="p_index" (deletePerson)="onDelete($event)" (editPerson)="onEdit($event)">
  </app-person-view>

  <hr>

  <app-add-person (addPerson)="onAddPerson($event)"></app-add-person>
</div>
