<div class="container p-3 mb-2 bg-light" *ngIf="!editor; else elseBlock">
  <div class="row mt-2">
    <div class="col-1 d-flex align-items-center">
      {{InPerson.id}}
    </div>
    <div class="col-3 d-flex align-items-center">
      Фамилия, имя: {{InPerson.name}}
    </div>
    <div class="col-3 d-flex align-items-center">
      Имя пользователя: {{InPerson.username}}
    </div>
    <div class="col-3 d-flex align-items-center">
      Почта: {{InPerson.email}}
    </div>
    <div class="col-2">
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-1 d-flex align-items-center">
    </div>
    <div class="col-3 d-flex align-items-center">
      Телефон: +7 <span>{{InPerson.phone | mask:'(000) 000-0000'}}</span>
    </div>
    <div class="col-3 d-flex align-items-center">
      Адрес город: {{InPerson.address.city}}
    </div>
    <div class="col-2 d-flex align-items-center">
      улица: {{InPerson.address.street}}
    </div>

  </div>

  <div class="row mt-2">
    <div class="col-9">
    </div>
    <div class="col-1">
      <button class="btn btn-warning" (click)="onDelete(InIndex)">Удалить</button>
    </div>
    <div class="col-2">
      <button class="btn btn-info" (click)="editor = true">Редактировать</button>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <div class="container p-1">
    <form [formGroup]="personEdit">
      <div class="row mt-2">
        <input class="col-1 d-flex align-items-center" placeholder="id"
               formControlName="id">
        <input class="col-3 d-flex align-items-center" placeholder="name"
               formControlName="name">
        <input class="col-3 d-flex align-items-center" placeholder="username"
               formControlName="username">
        <input class="col-3 d-flex align-items-center" placeholder="email"
               formControlName="email">
        <div class="col-2">
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-1 d-flex align-items-center">

        </div>

        <input class="col-3 d-flex align-items-center" placeholder="phone"
               mask="(000) 000-0000" prefix="+7" [showMaskTyped]="true"
               formControlName="phone">

        <input class="col-3 d-flex align-items-center" placeholder="city"
               formControlName="city">

        <input class="col-2 d-flex align-items-center" placeholder="street"
               formControlName="street">

      </div>

      <div class="row mt-2">
        <div class="col-9">
        </div>
        <div class="col-1">
          <button class="btn btn-warning" disabled>Удалить</button>
        </div>
        <div class="col-2">
          <button class="btn btn-info" (click)="onEdit(InIndex)" [disabled]="personEdit.invalid">Сохранить</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

