<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-12">
      <h3>{{title}}</h3>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-xl-3 coll-lg-3 col-md-6 col-xs-12 mb-5"
    *ngFor="let sensor of arr; let s_index = index;">
      <div class="card">
        <div class="card-header" [ngClass]="{'bg-success': sensor.status, 'bg-danger': !sensor.status}">
          {{sensor.id}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{sensor.name}}</h5>
          <button class="btn btn-warning" (click)="DeleteSensor(s_index)">Удалить</button>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="bg-light">-->
    <form action="#" class=" bg-light p-3 mb-5">
      <h4>Добавить новый датчик</h4>
      <div class="row">
        <div class="col-8 ">
          <div class="form-group">
            <label for="sensor_name">Введите название датчика</label>
            <input type="text" class="form-control" name="sensor_name" id="sensor_name" [(ngModel)]="sensor_name">
          </div>

          <br>

          <div class="form-group">
            <input type="radio" id="online" name="sensor_status" value="online" [(ngModel)]="sensor_status" >
            <label for="online">online</label>
          </div>
          <div class="form-group">
            <input type="radio" id="offline" name="sensor_status" value="offline" [(ngModel)]="sensor_status">
            <label for="offline">offline</label>
          </div>
        </div>
        <div class="form-group col-4 d-flex align-items-end justify-content-center">
          <button class="btn btn-primary" (click)="AddSensor()">Добавить датчик</button>
        </div>
      </div>

    </form>
  <!--</div>-->
</div>

