<div class="container bg-light pl-5 pr-5 pt-3 pb-3">
  <form [formGroup]="personAdd">
    <div class="row mt-2">
      <div class="col-12">
        <input type="text" placeholder="first name" class="form-control" formControlName="firstName">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <input type="text" placeholder="last name" class="form-control" formControlName="lastName">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <input type="text" placeholder="middle name" class="form-control" formControlName="middleName">
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-4">
        <input type="text" placeholder="seriaP" class="form-control" formControlName="seriaP">
      </div>

      <div class="col-8">
        <input type="text" placeholder="numberP" class="form-control" formControlName="numberP">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <input type="text" placeholder="email" class="form-control" formControlName="email">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <input type="text"
               placeholder="phone" class="form-control" formControlName="phone"
               mask="(000) 000-0000" prefix="+7" [showMaskTyped]="true">
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-12 d-flex justify-content-center mt-2">
        <button class="btn btn-primary" (click)="onAddPerson()" [disabled]="personAdd.invalid"> Добавить </button>
      </div>
    </div>
  </form>

</div>

